.automation-selectProduct-modal {
  /* position: relative; */

  max-width: 65vw;
}
.automation-selectProduct-modal .modal-body {
  z-index: 1050 !important;
}

.automation-selectProduct-modal .modal-content {
  height: 72vh; /*modal height */
  overflow-y: auto;
}
.automation-selectProduct-modal .modal-header {
  border: 0;
}
.automation-selectProduct-modal .modal-header button {
  position: absolute;
  top: 12px;
  right: 12px;
}