.edit-product-modal {
  /* position: relative; */

  max-width: 35vw;
}
.edit-product-modal .modal-body {
  z-index: 1050 !important;
}
.edit-product-modal .modal-content {
  height: 60vh; /*modal height */
  overflow-y: auto;
}
.edit-product-modal .modal-header {
  border: 0;
}
.edit-product-modal .modal-header button {
  position: absolute;
  top: 12px;
  right: 12px;
}
