.bubble-text {
    background-color: #eef1fb80; /* The light blue background color */
    color: #64748B; /* The color of the text */
    /* padding: 5px 10px;  */
   
    display: inline-block; /* Ensure it doesn't expand to full width */
    font-family: 'Arial', sans-serif; /* Ensure the font matches */
    font-size: 12px; /* Adjust font size as needed */
    border:1 px solid black;
  }