.resizer {
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: col-resize;
  background-color: transparent;
}

th {
  position: relative;
}
  
  th .resizer:hover {
    background-color: #ccc;
  }
  
  .card {
    transition: all 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-3px);
  }
  