.ant-datePicker-input {
  border: 1px solid lightgray;
}
.ant-datePicker-input:hover {
  border: 1px solid lightgray;
}
.ant-picker-date-panel-container {
  /* background-color: red !important; */
  /* height: 350px; */
}
.ant-picker-panel-layout {
  height: 350px;
}
