.automation-detail-modal {
  /* position: relative; */

  max-width: 62vw;
}
.automation-detail-modal .modal-content {
  height: 70vh; /*modal height */
  overflow-y: auto;
}
.automation-detail-modal .modal-header {
  border: 0;
}
.automation-detail-modal .modal-header button {
  position: absolute;
  top: 12px;
  right: 12px;
}
.inactive-row {
  background-color: #0b3d18 !important;
}
