.bulk-mapping-modal {
  /* position: relative; */

  max-width: 29vw;
}
.bulk-mapping-modal .modal-body {
  z-index: 1050 !important;
}

.bulk-mapping-modal .modal-content {
  height: 40vh; /*modal height */
  overflow-y: auto;
}
.bulk-mapping-modal .modal-header {
  border: 0;
}
.bulk-mapping-modal .modal-header button {
  position: absolute;
  top: 12px;
  right: 12px;
}
