.edit-sku-modal {
  /* position: relative; */

  max-width: 45vw;
}
.edit-sku-modal .modal-body {
  z-index: 1050 !important;
}

.edit-sku-modal .modal-content {
  height: 57vh; /*modal height */
  overflow-y: auto;
}
.edit-sku-modal .modal-header {
  border: 0;
}
.edit-sku-modal .modal-header button {
  position: absolute;
  top: 12px;
  right: 12px;
}
