.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  /* font-family: "Poppins", sans-serif; */
  font-style: normal;
}

/* hide arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* it will remove all modals dark background  */
.modal-content {
  /* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0px 4px 20px 6px rgba(0, 0, 0, 0.15); */
  /* box-shadow: 0px 4px 24px 8px rgba(0, 0, 0, 0.15); */
  box-shadow: 0px 4px 28px 12px rgba(0, 0, 0, 0.15);
}

/* it will remove all modals dark background  */
.modal-backdrop {
  --bs-backdrop-bg: none;
}

.ant-picker-dropdown {
  z-index: 1060 !important; /* Ensure it appears above Bootstrap modals */
}
.ant-picker-footer {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  /* background-color: red; */
}

.ant-datePicker-input {
  border: 1px solid lightgray;
}
.ant-datePicker-input:hover {
  border: 1px solid lightgray;
}
.ant-picker-focused {
  box-shadow: none !important;
  border-color: gray !important;
}
.ant-picker-input > input:focus {
  box-shadow: none !important;
  border-color: gray !important;
  outline: none !important;
}

.ant-picker-presets {
  height: 350px !important;
}
.form-check-input {
  border: 1px solid lightgray !important;
}
.form-check-input:checked {
  border: 1px solid #0d6efd !important;
}

.btn-close {
  font-size: 12px !important;
}
.btn-close:hover {
  background-color: #e5e7eb;
}
.btn-close:focus {
  box-shadow: none;
}
.modal-footer {
  border: none !important;
}

/* spinner  */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  margin: 0 auto;
  height: 36px;
  border-radius: 50%;
  /* border-left-color: #09f; */
  border-left-color: #0d6efd;
  animation: spin 0.3s ease-in-out infinite;
}

/* swal modal edit */
.swal2-popup {
  width: 29rem !important;
}
.swal2-confirm {
  background-color: #0662bb !important;
}
.swal2-file {
  font-size: 1em !important;
}
.swal2-cancel {
  background-color: #d33 !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
